body{
    background-color: deepskyblue;
    font-family: "Lucida Sans Unicode";
}

h1{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
    
}
label{
    display: float;
    padding: 5px;
    text-align: right;
}

br{
    display: block;
   content: "";
   margin-top: 20px;
}
textarea{
    height: 80px;
    text-align: left;
    vertical-align: middle;



}

form{
    background-color: white;
    text-align: center;
    padding: 20px;
}
.formWrapper{
    margin: 0 auto;
    max-width: 1100px;

}